<ion-header class="ion-no-border">
  <ion-toolbar>
    <div slot="start" class="w-full mb-3">
      <div class="flex justify-between">
        <span class="flex gap-2 items-center">
          <ion-back-button color="light" defaultHref="/tabs/community"></ion-back-button>
          <ion-text class="text-lg font-semibold text-white">Perfil</ion-text>
        </span>
        <p-menu #menu [model]="cacheMenuItems()" [popup]="true" />
        <span class="flex items-center gap-2">
          <i class="fa-solid fa-user text-white text-lg"></i>
          <p-button styleClass="text-white bg-transparent outline-none border-none" (onClick)="menu.toggle($event)" icon="pi pi-ellipsis-v"/>
        </span>
      </div>
      <div class="flex flex-col items-center gap-3 mt-4 mb-3">
        <p-avatar
        label="G"
        size="xlarge"
        styleClass="font-bold bg-[#5B6CBE] text-white"
        shape="circle" />
        <ion-text class="text-xl font-medium text-white" *ngIf="userStats">{{ userStats.displayName! | textTruncate: 20 }}</ion-text>
        <div class="flex gap-4 justify-center items-center ">
          <!-- Achievements Chip -->
          <p-chip 
            styleClass="flex items-center bg-gradient-to-r from-[#FFDA5C] to-[#FFB700] gap-2 min-w-[100px] h-10 rounded-lg shadow-md hover:scale-105 transition-all duration-300" 
            matRipple
          >
            <ion-icon class="text-[#fff] text-2xl" name="trophy"></ion-icon>
            <span class="font-semibold text-[#fff]">{{ countAchievements }}</span>
          </p-chip>
        
          <!-- Score Chip -->
          <p-chip 
            styleClass="flex items-center bg-gradient-to-r from-[#57E1A5] to-[#28A745] gap-2 min-w-[100px] h-10 rounded-lg shadow-md hover:scale-105 transition-all duration-300" 
            matRipple
          >
            <i class="fa-solid fa-medal text-[#fff] text-2xl"></i>
            <span class="font-semibold text-[#fff]" *ngIf="userStats">{{ userStats.score }}</span>
          </p-chip>
        </div>
        
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <div *ngIf="isLoading" class="h-full flex items-center justify-center">
    <ion-spinner color="primary" name="bubbles" class="w-20 h-20"></ion-spinner>
  </div>

  <p-tabView *ngIf="!isLoading">
    <p-tabPanel header="Status">
        <app-user-stats class="mt-5" [userStats]="userStats"/>
    </p-tabPanel>
    <p-tabPanel header="Conquistas">
       <app-user-achievement [achievements]="achievements"/>
    </p-tabPanel>
    <p-tabPanel header="Atividades">
        <p>
            Em construção
        </p>
    </p-tabPanel>
  </p-tabView>

</ion-content>

<p-toast position="top-center" styleClass="w-[80vw]" />
