<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/tabs/study"></ion-back-button>
    <ion-title class="text-xl font-medium text-gray-900">Simulados do Enade</ion-title>
    <ion-button class="reset-button me-2" slot="end">
      <i slot="icon-only" class="fa-solid fa-graduation-cap text-3xl text-[var(--ion-color-primary)]"></i>
    </ion-button>
  </ion-toolbar>

  <ion-toolbar>
    <div class="flex border mx-3 rounded-lg py-6 flex-col items-center p-4 pt-8 shadow-md bg-gradient-to-l from-[#5eb0ef] to-[#1350c0] text-white">
      <ion-text class="font-bold text-xl">Histórico de Provas</ion-text>
      <ion-text class="text-sm">Acompanhe seu progresso</ion-text>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="p-5 pb-10 h-full">
    <!-- Display if no quizzes found -->
    <div *ngIf="!isLoading && !quizzes.length" class="bg-white h-full rounded-lg shadow-lg border border-gray-200 p-5 flex items-center justify-center">
      <ion-icon name="sad-outline" class="text-6xl text-gray-500"></ion-icon>
      <ion-text class="text-lg font-light text-center text-gray-600">Os históricos dos seus simulados aparecerão aqui!</ion-text>
    </div>

    <!-- Display quiz history -->
    <div *ngIf="isLoading" class="flex items-center justify-center h-full">
      <ion-spinner color="primary" name="bubbles" class="w-16 h-16"></ion-spinner>
    </div>

    <section *ngIf="quizzes.length && !isLoading" class="py-8 px-2">
      <div class="space-y-8">
        <div *ngFor="let quiz of quizzes" 
             class="bg-white shadow-md rounded-xl p-4 sm:p-6 transition-transform transform hover:scale-105 hover:shadow-xl border border-gray-200">
    
          <!-- Header Section -->
          <div class="flex  justify-between items-center  mb-4">
            <div class="flex items-center space-x-2">
              <ion-icon name="calendar" class="text-gray-500 text-lg"></ion-icon>
              <ion-text class="font-semibold text-xl text-gray-800">Ano: {{ quiz.year }}</ion-text>
            </div>
            <span class="px-2 py-1 mt-2 sm:mt-0 rounded-full bg-blue-100 text-blue-700 text-xs font-medium">
              Quiz
            </span>
          </div>
    
          <!-- Statistics Section -->
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 sm:gap-4 mb-4">
            <div class="flex items-center space-x-2">
              <ion-icon name="checkbox-outline" class="text-gray-500 text-lg"></ion-icon>
              <span class="text-gray-700 text-sm">Total de Questões: <strong class="text-gray-900">{{ quiz.totalQuestions }}</strong></span>
            </div>
          </div>
    
          <!-- Time Information Section -->
          <div class="border-t border-gray-200 pt-3 mt-4 text-xs sm:text-sm">
            <ion-text class="text-gray-700 font-medium text-xl">Informações de Tempo</ion-text>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 mt-2">
              <div class="flex items-center space-x-2">
                <ion-icon name="alarm" class="text-gray-500 text-base"></ion-icon>
                <span>Tempo Inicial: <strong>{{ formatTime(quiz.startTime) }}</strong></span>
              </div>
              <div class="flex items-center space-x-2">
                <ion-icon name="timer" class="text-gray-500 text-base"></ion-icon>
                <span>Tempo Gasto: <strong>{{ formatTime(quiz.timeSpent) }}</strong></span>
              </div>
            </div>
          </div>
    
          <!-- Progress Section (optional) -->
          <div *ngIf="quiz.correctAnswers || quiz.incorrectAnswers" class="border-t border-gray-200 pt-3 mt-4 text-xs sm:text-sm">
            <ion-text class="text-gray-700 font-medium text-xl">Progresso</ion-text>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 mt-2">
              <div class="flex items-center gap-2">
                <ion-icon name="checkmark-circle" class="text-green-500 text-lg"></ion-icon>
                <span>Corretas: <strong class="text-green-500">{{ quiz.correctAnswers }}</strong></span>
              </div>
              <div class="flex items-center gap-2">
                <ion-icon name="close-circle" class="text-red-500 text-lg"></ion-icon>
                <span>Incorretas: <strong class="text-red-500">{{ quiz.incorrectAnswers }}</strong></span>
              </div>
            </div>
          </div>
    
        </div>
      </div>
    </section>
    
    
  </section>
</ion-content>
