<ion-content #content>
 <ng-container>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-back-button slot="start" defaultHref="/tabs"></ion-back-button>
      <ion-text color="light" class="text-xl font-semibold flex items-center">
        Estatísticas
      </ion-text>
      <i slot="end" class="fa fa-chart-bar mr-2 text-white text-xl me-5"></i>
    </ion-toolbar>
    
    <ion-toolbar color="primary">
      <ion-item slot="start" color="primary" lines="none" class="mt-3">
        <p-avatar
          routerLink="/tabs/perfil"
          [image]="connectedUser()?.photoURL ?? undefined"
          [label]="connectedUser()?.photoURL! ? undefined : connectedUser()?.displayName?.at(0)"
          styleClass="mr-2"
          shape="circle"
          styleClass="font-bold bg-[#5B6CBE] text-white"
          size="large" />
        
        <span class="flex flex-col text-white pb-2 space-y-1 ms-3">
          <ion-text class="font-bold text-2xl">Olá, {{ userFistName }}</ion-text>
          <p class="text-base font-light">Vamos analisar o seu desempenho?</p>
        </span>
      </ion-item>
    </ion-toolbar>
    <div class="p-4 bg-[var(--ion-color-primary)]"></div>
  </ion-header>

  <div class="p-4" *ngIf="stats()">
    <!-- Estatísticas -->
    <ion-segment color="primary" value="default">
      <ion-segment-button value="default">
        <ion-label>Geral</ion-label>
      </ion-segment-button>
      <ion-segment-button [disabled]="true">
        <ion-label>7 Dias</ion-label> 
      </ion-segment-button>
    </ion-segment>
    
    <!-- Gráfico de Acertos por Categoria -->
    <div class="shadow-md p-5 rounded-lg flex flex-col gap-5 bg-gradient-to-l from-[#39CCDC] to-[#578DE3] text-white mt-4 mb-4">
      <ion-text class="font-medium text-xl">Acertos por Categoria</ion-text>
      <p-chart type="polarArea" [data]="data" [options]="options"/>
    </div>

    <!-- Estatísticas Individuais -->
    <div class="flex flex-wrap gap-4 mt-4">
      <!-- Taxa de Acerto -->
      <span class="shadow-md flex flex-1 min-w-32 justify-between bg-gradient-to-l from-[#39CCDC] to-[#578DE3] text-white p-5 items-center rounded-lg">
        <span class="flex flex-col">
          <ion-text class="text-2xl font-semibold">{{ calculateAccuracyRate(stats()!) }}%</ion-text>
          <ion-text class="text-sm opacity-70">Taxa de acerto</ion-text>
        </span>
        <i class="fa-solid fa-arrow-trend-up text-3xl"></i>
      </span>

      <!-- Questões Totais -->
      <span class="shadow-md flex flex-1 min-w-32 justify-between bg-gradient-to-l from-[#39CCDC] to-[#578DE3] text-white p-5 items-center rounded-lg">
        <span class="flex flex-col">
          <ion-text class="text-2xl font-semibold">{{ stats()!.totalAnsweredQuestions }}</ion-text>
          <ion-text class="text-sm opacity-70">Questões totais</ion-text>
        </span>
        <i class="fa-solid fa-arrow-trend-up text-3xl"></i>
      </span>

      <!-- Certas -->
      <span class="shadow-md flex flex-1 min-w-32 justify-between bg-gradient-to-l bg-[#47A34C] text-white p-5 items-center rounded-lg">
        <span class="flex flex-col">
          <ion-text class="text-2xl font-semibold">{{ stats()!.correctAnswersCount }}</ion-text>
          <ion-text class="text-sm opacity-70">Certas</ion-text>
        </span>
        <i class="fa-solid fa-check text-3xl"></i>
      </span>

      <!-- Erradas -->
      <span class="shadow-md flex flex-1 min-w-32 justify-between bg-gradient-to-l bg-[#c10808] text-white p-5 items-center rounded-lg">
        <span class="flex flex-col">
          <ion-text class="text-2xl font-semibold">{{ stats()!.incorrectAnswersCount }}</ion-text>
          <ion-text class="text-sm">Erradas</ion-text>
        </span>
        <i class="fa-solid fa-xmark text-3xl"></i>
      </span>

      <span class="shadow-md flex flex-1 min-w-full p-4 px-5 bg-gradient-to-l from-[#FF8C42] to-[#FF3D68] text-white items-center rounded-lg">
        <i class="fa-solid fa-user-friends text-3xl"></i>
        <span class="flex flex-col ms-4">
          <span class="flex items-center gap-2">
            <ion-text class="text-2xl font-semibold">{{ stats()!.countFriends }}</ion-text>
            <i class="fas fa-users text-white text-base"></i>
          </span>
          <ion-text class="text-sm">Friends</ion-text>
        </span>
      </span>
      
      <!-- Ranking -->
      <span class="shadow-md flex flex-1 min-w-full p-4 px-5 bg-gradient-to-l from-[#39CCDC] to-[#578DE3] text-white items-center rounded-lg">
        <i class="fa-solid fa-chart-simple text-3xl"></i>
        <span class="flex flex-col ms-4">
          <span class="flex items-center gap-2">
            <ion-text class="text-2xl font-semibold">{{ stats()!.score }}</ion-text>
            <i class="fas fa-medal text-white text-base"></i>
          </span>
          <ion-text class="text-sm">Score</ion-text>
        </span>
      </span>

      <!-- Tempo Médio por Questão -->
      <span class="shadow-md flex flex-1 min-w-full p-4 px-5 bg-gradient-to-l from-[#39CCDC] to-[#578DE3] text-white items-center rounded-lg">
        <i class="fa-solid fa-clock text-3xl"></i>
        <span class="flex flex-col ms-4">
          <ion-text class="text-2xl font-semibold">{{ stats()!.averageResponseTime | number:'1.2-2' }} s</ion-text>
          <ion-text class="text-sm">Tempo médio/questão</ion-text>
        </span>
      </span>
    </div>
  </div>
 </ng-container>
 <div *ngIf="!stats()" class="h-full flex items-center justify-center">
  <ion-spinner color="primary" name="bubbles" class="w-20 h-20"></ion-spinner>
</div>
</ion-content>
