<div class="question shadow-lg rounded-lg overflow-hidden" [ngClass]="getQuestionStatusClass()">
  <!-- Cabeçalho da pergunta -->
  <div class="question__header p-4 bg-white border-b border-gray-200">
    <span class="label text-3xl font-semibold text-gray-800">{{ parent.currentQuestionIndex()! + 1 }}</span>
    <div *ngIf="data.title" class="mt-4 font-medium text-lg text-gray-700">
      <ion-text class="text-base">{{ data.title }}</ion-text>
    </div>
  </div>

  <!-- Conteúdo da pergunta -->
  <div class="question__content px-4 py-3 bg-gray-50">
    <p class="leading-relaxed text-base text-gray-700">
      {{ data.content }}
    </p>

    <div *ngIf="data.photos" class="mt-4">
      <ion-grid>
        <ion-row>
          <ion-col size="12" *ngFor="let photo of data.photos">
            <img [src]="photo" alt="question photo" class="w-full rounded-lg shadow-lg" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="space-y-3 mt-4">
      <ion-text class="font-medium text-xl text-gray-800">
        {{ data.asking.title }}
      </ion-text>
      <div *ngIf="data.asking.body" class="ms-3 opacity-85">
        <div *ngFor="let askingContent of data.asking.body">
          <p class="text-base text-gray-600">{{ askingContent }}</p>
        </div>
      </div>
      <p class="font-medium text-xs break-words text-gray-500">
        {{ data.asking.footer }}
      </p>
    </div>
  </div>

  <!-- Alternativas -->
  <div class="question__footer [&>div]:bg-white  [&>div]:cursor-pointer">
    <div *ngFor="let alternative of data.alternatives; let index = index" (click)="this.parent.disableAlternatives() ? null : markAnswer(alternative.id)" [ngClass]="getAlternativeStatusClass(alternative.id)">
      <div class="p-4 flex items-center gap-4 cursor-pointer  rounded-lg">
        <div class="bg-black min-w-8 min-h-8 rounded-full text-white flex items-center justify-center">
          <strong class="text-xl">{{ getOrder(index) }}</strong>
        </div>
        <span class="text-base">{{ alternative.label }}</span>
      </div>
    </div>
  </div>
</div>
