<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-item color="primary" lines="none">
      <ion-back-button color="light" defaultHref="/tabs"></ion-back-button>
      <ion-title color="light">Minhas Notas</ion-title>
      <ion-button routerLink="/tabs/note-edit" fill="clear" color="light">
        <i slot="icon-only" class="fa-solid fa-circle-plus text-2xl"></i>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="isLoading" class="h-full flex items-center justify-center">
    <ion-spinner color="primary" name="bubbles" class="w-20 h-20"></ion-spinner>
  </div>
  <div *ngIf="!notepads()?.length && !isLoading" class="h-full flex-col flex gap-2 items-center justify-center text-center px-4">
    <i class="fa-solid fa-pen-to-square text-7xl text-[var(--ion-color-primary)]"></i>
    <ion-text class="text-xl font-semibold text-gray-800">Parece que você ainda não tem nenhuma nota! ✨</ion-text>
    <ion-text class="text-lg opacity-80 font-medium text-gray-600">Clique em "+" para criar a sua primeira nota e começar a organizar suas ideias!</ion-text>
  </div>  
  <div *ngIf="notepads()?.length && !isLoading" class="p-4 mt-3">
    <div class="grid grid-cols-2 gap-2 xs:grid-cols-1">
      @for (notepad of notepads(); track notepad.id) {
        <div
          class="bg-white rounded-md shadow-md hover:shadow-lg transition-shadow duration-200"
          matRipple
          [pTooltip]="notepad.description | textTruncate"
          [routerLink]="['/tabs', 'note-edit']"
          [queryParams]="{ sourceId: notepad.id }"
        >
          <!-- Cor de fundo superior ajustável -->
          <div
            [ngStyle]="getBackgroundColor(notepad.color)"
            class="h-1 rounded-t-md"
          ></div>
    
          <!-- Conteúdo principal da nota -->
          <div class="p-3">
            <ion-text class="text-sm text-gray-500">
              {{ notepad.createdAt | date: 'd \'de\' MMM \'de\' y' }}
            </ion-text>
            <div class="mt-3">
              <ion-text
                class="block font-medium truncate text-lg"
                [title]="notepad.title"
              >
                {{ notepad.title }}
              </ion-text>
            </div>
          </div>
        </div>
      }
    </div>    
  </div>
</ion-content>
