<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none" slot="start" class="w-full">
      <ion-back-button></ion-back-button>
      <div class="flex items-center">
        <ion-title class="font-semibold">Enade 2021</ion-title>
        <i class="heart fa-solid relative -left-3 fa-heart text-2xl scale-75 text-red-600" pBadge *ngIf="remainingChances() > 0" [value]="remainingChances()"  severity="warning" badgeStyleClass="bg-red-800"></i>
      </div>
      <div slot="end" class="h-8 min-w-14 px-2 flex items-center justify-center rounded {{ timeHasPassed ? 'bg-gray-300 text-gray-500' : 'bg-blue-200 text-blue-800' }}">
        <ion-text class="text-lg font-medium">{{ timerFormatted }}</ion-text>
      </div>
    </ion-item>
  </ion-toolbar>
  <div class="px-5 py-2 bg-white ">
    <!-- Barra de Progresso com label de Questão -->
    <div class="flex flex-col items-center">
      <ion-progress-bar 
        mode="ios" 
        [value]="currentPercentage()" 
        color="primary" 
        class="w-full rounded-lg mb-2"
      ></ion-progress-bar>
  
      <ion-text class="text-sm font-semibold text-gray-700 flex items-center gap-2">
        <!-- Número da Questão e Total -->
        <span class="text-gray-700">Questão</span> 
        <span class="text-primary text-lg">{{ isReview() ? (currentQuestionIndex()! + 1) : currentQuestionIndex() }}</span> 
        <span class="text-gray-500">de</span> 
        <span class="text-primary text-lg">{{ questions().length }}</span>
        
        <!-- Label de Dificuldade -->
        <span 
          class="text-xs font-semibold text-white px-3 py-1 rounded-full shadow-md"
          [ngClass]="{
            'bg-green-500': difficulty === 'Fácil',
            'bg-yellow-500': difficulty === 'Médio',
            'bg-red-500': difficulty === 'Difícil'
          }"
        >
          {{ difficulty | titlecase }}
        </span>
      </ion-text>
    </div>
  </div>
  

</ion-header>
<ion-content class="ion-padding" [scrollX]="true" [scrollEvents]="true">
  <div *ngIf="isLoading()" class="h-full flex items-center justify-center">
    <ion-spinner color="primary" name="bubbles" class="w-20 h-20"></ion-spinner>
  </div>
  <section *ngIf="!isLoading()">


    <div class="mt-3" *ngIf="currentQuestion()">
      <app-quiz-question [data]="currentQuestion()!"/>
    </div>


    @if (isReview()) {
     <div class="flex gap-3 justify-between">
        @if (currentQuestionIndex()! > 0) {
          <ion-button class="mt-5 flex-1 !h-12 normal-case" (click)="seePreviousQuestion()">
            <span class="text-white font-medium text-lg">Anterior</span>
          </ion-button>
        }
        <ion-button class="mt-5 flex-1 !h-12 normal-case {{ currentQuestionIndex()! > 0 ? '' : 'w-full' }}" (click)="seeNextQuestion()">
          <span class="text-white font-medium text-lg">Próximo</span>
        </ion-button>
     </div>
    } @else {
      <ion-button  expand="block" class="mt-5 !h-12 normal-case" (click)="goToNext()" [disabled]="disableButton()">
        <span class="text-white font-medium text-lg">{{ disableButton() ? 'Bloqueado' : 'Próximo' }}</span>
      </ion-button>
    }
  </section>

  <ion-fab vertical="top" horizontal="end" slot="fixed" class="me-2" *ngIf="isBellSwinging()" (click)="onClickBell()">
    <ion-fab-button color="warning" class="shadow-lg rounded-full transition-all hover:scale-110 active:scale-95 focus:outline-none focus:ring-4 focus:ring-yellow-400">
      <i class="fa-solid fa-bell text-xl text-white transform transition-all duration-300 hover:rotate-12"></i>
    </ion-fab-button>
  </ion-fab>
  

</ion-content>
