<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none" slot="start" class="w-full">
      <ion-back-button defaultHref="/tabs/study"></ion-back-button>
      <div class="flex items-center">
        <ion-title class="font-semibold">Enade 2021</ion-title>
        <i class="heart fa-solid relative -left-3 fa-heart text-2xl scale-75 text-red-600" pBadge *ngIf="remainingChances() > 0" [value]="remainingChances()"  severity="warning" badgeStyleClass="bg-red-800"></i>
      </div>
      <div *ngIf="!isCompletedReview()" slot="end" class="h-8 min-w-14 px-2 flex items-center justify-center rounded {{ timeHasPassed ? 'bg-gray-300 text-gray-500' : 'bg-blue-200 text-blue-800' }}">
        <ion-text class="text-lg font-medium">{{ timerFormatted }}</ion-text>
      </div>
      <div *ngIf="isCompletedReview()" slot="end" class="h-8 min-w-14 px-2 flex items-center justify-center rounded bg-blue-200 text-blue-800">
        <ion-text class="text-lg font-medium">Revisão</ion-text>
      </div>
    </ion-item>
  </ion-toolbar>
  <div class="px-5 py-2 bg-white ">
    <!-- Barra de Progresso com label de Questão -->
    <div class="flex flex-col items-center">
      <ion-progress-bar 
        mode="ios" 
        [value]="currentPercentage()" 
        color="primary" 
        class="w-full rounded-lg mb-2"
      ></ion-progress-bar>
  
      <ion-text class="text-sm font-semibold text-gray-700 flex items-center gap-2">
        <!-- Número da Questão e Total -->
        <span class="text-gray-700">Questão</span> 
        <span class="text-primary text-lg">{{ isReview() ? (currentQuestionIndex()! + 1) : currentQuestionIndex() }}</span> 
        <span class="text-gray-500">de</span> 
        <span class="text-primary text-lg">{{ questions().length }}</span>
        
        <!-- Label de Dificuldade -->
        <span 
          class="text-xs font-semibold text-white px-3 py-1 rounded-full shadow-md"
          [ngClass]="{
            'bg-green-500': difficulty === 'Fácil',
            'bg-yellow-500': difficulty === 'Médio',
            'bg-red-500': difficulty === 'Difícil'
          }"
        >
          {{ difficulty | titlecase }}
        </span>
      </ion-text>
    </div>
  </div>
  

</ion-header>
<ion-content class="ion-padding" [scrollX]="true" [scrollEvents]="true">
  <div *ngIf="isLoading()" class="h-full flex items-center justify-center">
    <ion-spinner color="primary" name="bubbles" class="w-20 h-20"></ion-spinner>
  </div>
  <section *ngIf="!isLoading()">


    <div class="mt-3" *ngIf="currentQuestion()">
      <app-quiz-question [data]="currentQuestion()!"/>
    </div>


    @if (isReview()) {
     <div class="flex gap-3 justify-between">
        @if (currentQuestionIndex()! > 0) {
          <ion-button class="mt-5 flex-1 !h-12 normal-case" (click)="seePreviousQuestion()">
            <span class="text-white font-medium text-lg">Anterior</span>
          </ion-button>
        }
        <ion-button *ngIf="!((currentQuestionIndex()! + 1) >= this.questions().length)" class="mt-5 flex-1 !h-12 normal-case {{ currentQuestionIndex()! > 0 ? '' : 'w-full' }}" (click)="seeNextQuestion()">
          <span class="text-white font-medium text-lg">Próximo</span>
        </ion-button>

        <ion-button *ngIf="(currentQuestionIndex()! + 1) >= this.questions().length" class="mt-5 flex-1 !h-12 normal-case {{ currentQuestionIndex()! > 0 ? '' : 'w-full' }}" (click)="seeNextQuestion()">
          <span class="text-white font-medium text-lg">Finalizar</span>
        </ion-button>
     </div>
    } @else {
      <ion-button  expand="block" class="mt-5 !h-12 normal-case" (click)="goToNext()" [disabled]="disableButton()">
        <span class="text-white font-medium text-lg">{{ disableButton() ? 'Bloqueado' : 'Próximo' }}</span>
      </ion-button>
    }
  </section>

  <ion-fab (click)="modal.present()" vertical="top" horizontal="end" slot="fixed" class="me-2" *ngIf="isBellSwinging() && !isReview()" (click)="onClickBell()">
    <ion-fab-button color="warning" class="shadow-lg rounded-full transition-all hover:scale-110 active:scale-95 focus:outline-none focus:ring-4 focus:ring-yellow-400">
      <i class="fa-solid fa-bell text-xl text-white transform transition-all duration-300 hover:rotate-12"></i>
    </ion-fab-button>
  </ion-fab>

  <ion-fab *ngIf="isReview()" (click)="showAnswer(modal)" pTooltip="Mostrar explicação detalhada" (click)="modal.present()" vertical="top" horizontal="end" slot="fixed" class="me-2">
    <ion-fab-button color="primary" class="shadow-lg rounded-full transition-all hover:scale-110 active:scale-95 focus:outline-none focus:ring-4 focus:ring-blue-400">
      <i class="fa-solid fa-file-alt text-xl text-white transform transition-all duration-300 hover:rotate-12"></i>
    </ion-fab-button>
  </ion-fab>
  
  <ion-modal #modal [animated]="true">
    <ng-template>
      <ion-content>
        <div class="modal-content p-6 bg-white rounded-lg shadow-xl max-w-3xl mx-auto space-y-6">
          <!-- Título do Modal -->
          <div class="modal-header flex justify-between items-center mb-4">
            <h2 class="text-2xl font-semibold text-blue-600">Explicação da Questão</h2>
            <!-- Botão de Fechar -->
            <ion-button 
              color="primary" 
              fill="clear" 
              (click)="modal.dismiss()" 
              class="text-gray-600 hover:text-gray-800 focus:outline-none"
              aria-label="Fechar explicação">
              <i class="fa-solid fa-times text-lg"></i>
            </ion-button>
          </div>
  
          <!-- Conteúdo da explicação -->
          <div class="modal-body text-base text-gray-800 space-y-4">
            <p *ngIf="this.questionExplanation()" class="leading-relaxed bg-gray-50 p-4 rounded-lg shadow-inner text-gray-700">
              {{ this.questionExplanation() }}
            </p>

            <div *ngIf="!this.questionExplanation()" class="h-full flex flex-col items-center justify-center">
              <ion-spinner color="primary" name="bubbles" class="w-20 h-20"></ion-spinner>
              <span>Buscando resposta...</span>
            </div>


  
            <!-- Exemplo de destaque importante -->
            <div class="highlight bg-yellow-100 p-4 rounded-lg border-l-4 border-yellow-500">
              <strong class="text-lg text-yellow-800">Ponto importante:</strong>
              <p class="text-sm text-gray-700">
                Aqui está um detalhe crucial para entender a resposta. Vale lembrar que esta explicação foi gerada por IA, então pode não ser a resposta 100% correta, mas serve como um guia útil para sua compreensão.
              </p>              
            </div>
          </div>
  
          <!-- Rodapé com ação adicional -->
          <div class="modal-footer mt-6 text-center">
            <ion-button 
              expand="block" 
              color="primary" 
              (click)="modal.dismiss()" 
              class="transition-colors duration-300 hover:bg-blue-600">
              <span class="text-white">Fechar Explicação</span>
            </ion-button>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  
  
  

</ion-content>
