<div class="flex flex-col gap-2 items-center text-center text-white">
  <div class="w-52 h-52 rounded-full bg-white bg-opacity-30 flex items-center justify-center">
    <img src="assets/image/around-the-world.png" class="w-32">
  </div>
  <div class="mt-3">
    <ion-text class="text-2xl font-semibold">Conecte-se!</ion-text>
  </div>
  <p class="text-sm">Faça login ou crie uma conta para personalizar sua jornada e acompanhar seu progresso</p>
  <div class="flex flex-col gap-3 mt-5">
    <p-button [raised]="true" label="Entrar na minha conta" styleClass="w-full p-button-success" routerLink="/account/login"></p-button>
    <p-button [raised]="true" severity="info" label="Registrar-se" styleClass="w-full" routerLink="/account/register"></p-button>
  </div>
</div>
