<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/tabs/study"></ion-back-button>
    <ion-title class="text-xl font-medium text-gray-900">Simulados do Enade</ion-title>
    <ion-button class="reset-button me-4" slot="end">
      <i slot="icon-only" class="fa-solid fa-graduation-cap text-3xl text-[var(--ion-color-secondary)]"></i>
    </ion-button>
  </ion-toolbar>
  <ion-toolbar>
    <div class="flex border border-black border-opacity-5 mx-3 rounded-lg py-8 flex-col items-center p-4 pt-8 shadow-md {{ cssClass }} text-white">
      <ion-text class="font-bold text-xl">{{ title }}</ion-text>
      <ion-text class="text-sm">{{ quizzes().length }} provas</ion-text>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngIf="!isLoading()">
    <!-- Section for when no quizzes are available -->
    <div *ngIf="!quizzes().length" class="h-full flex flex-col items-center justify-center space-y-6 p-6 bg-gradient-to-t from-gray-100 to-white border border-gray-300 rounded-lg shadow-lg">
      <ion-icon name="sad-outline" class="text-7xl text-gray-400"></ion-icon>
      <p class="text-xl text-center text-gray-600 font-semibold">Não há simulados disponíveis para essa categoria.</p>
      <p class="text-center text-sm text-gray-500">Tente novamente mais tarde ou explore outras categorias.</p>
    </div>

    <!-- Section for displaying quizzes -->
    <section class="p-6" *ngIf="quizzes().length">
      <ul class="flex flex-col gap-6">
        @for (quiz of quizzes(); track quiz._id) {
          <li 
            class="flex flex-col sm:flex-row w-full border border-solid border-gray-300 shadow-lg rounded-xl cursor-pointer hover:shadow-2xl transition-shadow duration-300"
            [ngClass]="{'border-green-500': (getCountQuestionsDone(quiz.questions) / quiz.questions.length) === 1}">
            
            <!-- Quiz Image Header -->
            <div style="background-image: url('../../../../../assets/enade/enade-bg.jpg'); background-size: cover;" class="bg-[#D1DDF7] flex items-center justify-center bg-center py-4 h-32 rounded-tl-xl rounded-tr-xl">
            </div>
          
            <div class="flex-1 p-5 flex flex-col gap-3 bg-white rounded-b-xl">
              <ion-text class="font-semibold text-lg text-gray-800">Ano do {{ quiz.year }}</ion-text>
              
              <!-- Progress of answered questions -->
              <span class="flex items-center gap-1 text-sm text-gray-600">
                <ion-text>Respondidas:</ion-text>
                <ion-text class="font-medium text-blue-600">{{ getCountQuestionsDone(quiz.questions) }}</ion-text> de
                <ion-text class="font-medium text-blue-600">{{ quiz.questions.length }}</ion-text>
              </span>
              
              <!-- Progress bar -->
              <p-progressBar [value]="(getCountQuestionsDone(quiz.questions) / quiz.questions.length) * 100"  styleClass="my-1"></p-progressBar>
              
              <!-- Time spent on quiz -->
              <span class="flex items-center gap-2 text-sm text-gray-600">
                <!-- Icon for time -->
                <ion-icon name="timer-outline" class="text-primary text-lg"></ion-icon>
                
                <!-- Label for Time -->
                <ion-text class="font-medium text-gray-700">Tempo decorrido:</ion-text>
                
                <!-- Badge displaying the time spent with more prominent design -->
                <p-badge 
                  [value]="getTimeSpent(quiz)" 
                  severity="success" 
                  class="ml-2 text-xs sm:text-sm font-semibold bg-green-100 text-green-800 border-green-300 shadow-sm square-badge">
                </p-badge>
              
              </span>

              <div class="flex items-center gap-2 [&>button]:flex-1 mt-2">
               
                <button 
                  [routerLink]="['/quiz/started', quiz._id]"
                  [queryParams]="{ category }"
                  pButton 
                  class="w-full sm:w-auto px-6 py-3 flex justify-center bg-green-500 text-white font-semibold rounded-lg shadow-md hover:bg-green-600 hover:border-green-800 hover:border-solid border-none hover:shadow-lg transition-all duration-300 ease-in-out transform hover:scale-105">
                  Fazer
                </button>

  
                  <button 
                  *ngIf="(getCountQuestionsDone(quiz.questions) / quiz.questions.length) === 1"
                    [routerLink]="['/quiz/started', quiz._id]"
                    [queryParams]="{ completedReview: true, category }"
                    pButton 
                    class="w-full sm:w-auto px-6 py-3 flex justify-center bg-yellow-500 text-white font-semibold rounded-lg shadow-md hover:bg-yellow-600 hover:border-yellow-800 hover:border-solid border-none hover:shadow-lg transition-all duration-300 ease-in-out transform hover:scale-105">
                    Revisar
                  </button>
            
                
              </div>
              
            </div>
          </li>
        }
      </ul>
    </section>
  </ng-container>

  <!-- Loading Spinner -->
  <div *ngIf="isLoading()" class="h-full flex items-center justify-center">
    <ion-spinner color="primary" name="bubbles" class="w-20 h-20"></ion-spinner>
  </div>
</ion-content>
