<div class="flex gap-5 relative" [ngClass]="{ 'flex-row-reverse': isOwnMessage }">
  <div>
    <p-avatar
      [image]="payload.photoUrl"
      label="{{payload.photoUrl ? undefined : payload.displayName[0]}}"
      size="large"
      styleClass="font-bold bg-[#5B6CBE] text-white {{ !isOwnMessage ? 'cursor-pointer' : '' }}"
      (click)="menuClosed.set(!menuClosed())"
      shape="circle"/>
  </div>
  <div class="relative top-0.5">
    <span class="flex items-center gap-2 text-sm" [ngClass]="{ 'flex-row-reverse': isOwnMessage }">
      <ion-text>{{  payload.displayName }}</ion-text>
      <ion-text>{{ payload.sentAt | date: 'hh:mm a' }}</ion-text>
    </span>
    <div class="bg-white max-w-[70vw] break-words p-2 rounded-md mt-2 text-sm" [ngClass]="{ '!bg-[var(--ion-color-primary)]': isOwnMessage, 'text-white': isOwnMessage }">
        {{ payload.message }}
    </div>
  </div>

  @if (!isOwnMessage) {
    <app-chat-menu class="absolute top-12 z-40" [items]="items" [menuClosed]="menuClosed()" />
  }

</div>


