<ion-content>
  <section class="h-full flex flex-col from-[#2693ff] via-[#1ca5e9]  to-[#2076FF]">
    <!-- Top Toolbar with Title and Trophy Icon -->
    <ion-toolbar>
      <ion-back-button slot="start" defaultHref="/tabs" color="light"></ion-back-button>
      <ion-title color="light" class="flex items-center gap-2 text-2xl font-semibold">
        Top Rankings
      </ion-title>
      <i slot="end" class="fa-solid fa-trophy text-[#FFD700] text-2xl mr-4"></i>
    </ion-toolbar>
    
    <!-- Top 3 Ranking Display -->
    <div class="flex justify-around pt-5 pb-2 px-4  bg-gradient-to-r from-[#2693ff] via-[#1ca5e9]  to-[#2076FF]">
      <ng-container *ngIf="hasTopRankings">
           <!-- Second Place -->
          <div class="flex flex-col items-center gap-3" [class.invisible]="!secondUserRanking">
            <ion-avatar matRipple [ngClass]="{'border-4 border-yellow-500 border-solid': isLoggedUser(secondUserRanking?.userId!), 'border-4 border-white': !isLoggedUser(secondUserRanking?.userId!)}" class="w-20 h-20 border-4 border-white rounded-full" [routerLink]="isLoggedUser(secondUserRanking?.userId!) ? null : ['/tabs/profile/', secondUserRanking?.userId]">
              <img alt="Avatar" [src]="secondUserRanking?.photoUrl ? secondUserRanking?.photoUrl : 'assets/image/avatar.svg'" />
            </ion-avatar>
            <ion-text class="text-lg font-semibold text-white">{{ getFirstName(secondUserRanking?.name!) }}</ion-text>
            <div class="flex items-center gap-1 text-white">
              <!-- <span class="text-lg font-medium">{{ firstUserRanking?.score }}P</span> -->
              <span class="flex items-center text-lg font-semibold">
                {{ secondUserRanking?.score }}
                <i class="fas fa-medal text-[#FFD700] text-base ml-2"></i>
              </span>
              
              <i class="fa-solid fa-crown text-[#FFD700] text-base"></i>
            </div>
            <div class="bg-blue-300 text-white text-3xl font-bold py-2 px-4 rounded-lg shadow-lg">2</div>
          </div>

          <!-- First Place (Central) -->
          <div class="flex flex-col items-center gap-3" [class.invisible]="!firstUserRanking"  >
            <ion-avatar matRipple [ngClass]="{'border-4 border-yellow-500 border-solid': isLoggedUser(firstUserRanking?.userId!), 'border-4 border-white': !isLoggedUser(firstUserRanking?.userId!)}" class="w-24 h-24 border-4 border-yellow-300 rounded-full shadow-md" [routerLink]="isLoggedUser(firstUserRanking?.userId!) ? null : ['/tabs/profile/', firstUserRanking?.userId]">
              <img alt="Avatar" [src]="firstUserRanking?.photoUrl ? firstUserRanking?.photoUrl : 'assets/image/avatar.svg'" />
            </ion-avatar>
            <ion-text class="text-xl font-semibold text-white">{{ getFirstName(firstUserRanking?.name!) }}</ion-text>
            <div class="flex items-center gap-1 text-white">
              <!-- <span class="text-lg font-medium">{{ firstUserRanking?.score }}P</span> -->
              <span class="flex items-center text-lg font-semibold">
                {{ firstUserRanking?.score }}
                <i class="fas fa-medal text-[#FFD700] text-base ml-2"></i>
              </span>
              
              <i class="fa-solid fa-crown text-[#FFD700] text-base"></i>
            </div>
            <div class="bg-yellow-500 text-white text-4xl font-bold py-2 px-5 rounded-lg shadow-lg">1</div>
          </div>

          <!-- Third Place -->
          <div class="flex flex-col items-center gap-3" [class.invisible]="!thirdUserRanking"  >
            <ion-avatar matRipple [ngClass]="{'border-4 border-yellow-500 border-solid': isLoggedUser(thirdUserRanking?.userId!), 'border-4 border-white': !isLoggedUser(thirdUserRanking?.userId!)}" class="w-20 h-20 border-4 border-white rounded-full" [routerLink]="isLoggedUser(thirdUserRanking?.userId!) ? null : ['/tabs/profile/', thirdUserRanking?.userId]">
              <img alt="Avatar" [src]="thirdUserRanking?.photoUrl ? thirdUserRanking?.photoUrl : 'assets/image/avatar.svg'" />
            </ion-avatar>
            <ion-text class="text-lg font-semibold text-white">{{ getFirstName(thirdUserRanking?.name!) }}</ion-text>
            <div class="flex items-center gap-1 text-white">
              <!-- <span class="text-lg font-medium">{{ firstUserRanking?.score }}P</span> -->
              <span class="flex items-center text-lg font-semibold">
                {{ thirdUserRanking?.score }}
                <i class="fas fa-medal text-[#FFD700] text-base ml-2"></i>
              </span>
              
              <i class="fa-solid fa-crown text-[#FFD700] text-base"></i>
            </div>
            <div class="bg-blue-300 text-white text-3xl font-bold py-2 px-4 rounded-lg shadow-lg">3</div>
          </div>
      </ng-container>
      <div *ngIf="!hasTopRankings" class="h-full flex items-center flex-col text-white justify-center">
        <ion-spinner color="light" name="bubbles" class="w-20 h-20"></ion-spinner>
        <span>Carregando...</span>
      </div>
    </div>

    <!-- List Ranking -->
    <div class="flex-1 pt-6 bg-gray-50 rounded-t-3xl shadow-lg mt-4 {{ !rankings.slice(3).length ? '!bg-transparent !border-b-0 !border-l-0 !border-r-0 border-t-[0.15rem] border-white border-solid' : ''}}">
      <ion-list *ngIf="rankings.slice(3).length; else emptyRankings" lines="none" class="p-4">
        <!-- Fourth Place -->
        <ng-container *ngFor="let userRanking of rankings; let position = index">
          <ion-item [routerLink]="isLoggedUser(userRanking?.userId!) ? null : ['/tabs/profile/', userRanking?.userId]" *ngIf="position > 2" lines="none" class="bg-white rounded-lg mb-4 shadow-md hover:shadow-lg transition duration-300 p-4">
            <div slot="start" class="flex items-center">
              <span class="font-bold text-2xl text-[#e8d773] mr-4">{{ position  }}</span>
              <ion-avatar [ngClass]="{'border-4 border-yellow-500 border-solid': isLoggedUser(userRanking?.userId!), 'border-4 border-white': !isLoggedUser(userRanking?.userId!)}" matRipple class="w-12 h-12 mr-3">
                <img alt="Avatar" [src]="userRanking?.photoUrl ? userRanking?.photoUrl : 'assets/image/avatar.svg'" />
              </ion-avatar>
              <div class="flex flex-col">
                <ion-text class="text-lg font-medium text-gray-800">{{ userRanking.name }}</ion-text>
                <div class="flex items-center gap-1 text-sm text-gray-500">
                  <i class="fa-solid fa-medal text-[#FFD700]"></i>
                  <span>{{ userRanking.score }}</span>
                </div>
              </div>
            </div>
          </ion-item>
        </ng-container>

      </ion-list>

      <ng-template #emptyRankings>
        <div class="h-full flex flex-col items-center justify-center text-center p-6  rounded-xl shadow-lg">
          <i class="fas fa-trophy text-white text-6xl mb-6"></i>
          <p class="text-2xl font-semibold text-white">
            Não há rankings disponíveis no momento
          </p>
          <p class="text-sm text-white mt-2 opacity-75">
            Volte mais tarde ou participe para aparecer aqui!
          </p>
        </div>
            
      </ng-template>
      

    </div>
  </section>
</ion-content>
