<ion-menu contentId="menu-community-content" [menuId]="menuId">
  <ion-header class="ion-no-border" [translucent]="true">
    <ion-toolbar color="primary">
      <div slot="start" class="flex gap-2 items-center">
        <ion-back-button color="light" defaultHref="/tabs/community" (click)="closeMenu()"></ion-back-button>
        <ion-text color="light" class="text-2xl font-medium">Amigos</ion-text>
      </div>
    </ion-toolbar>
    <ion-toolbar color="primary">
      <div class="px-3 pb-3">
        <ion-searchbar  [animated]="true" placeholder="Pesquisar..."></ion-searchbar>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list lines="none" class="friends">


    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="menu-community-content">
  <ion-header class="ion-no-border" [translucent]="true">
    <ion-toolbar color="primary">
      <div slot="start" class="flex gap-2 items-center">
        <ion-menu-button color="light" [autoHide]="true" slot="start" menu="menu-community"></ion-menu-button>
        <ion-text color="light" class="text-2xl font-medium">Conversas</ion-text>
      </div>
    </ion-toolbar>
    <ion-toolbar color="primary">
      <div class="px-3 pb-3">
        <ion-searchbar  [animated]="true" placeholder="Pesquisar..."></ion-searchbar>
      </div>
    </ion-toolbar>
  </ion-header>

    <ion-fab vertical="bottom" horizontal="end" class="me-2 mb-2" (click)="showMenu()">
      <ion-fab-button>
        <ion-icon name="chatbubbles" color="light"></ion-icon>
      </ion-fab-button>
    </ion-fab>




  <ion-content>
    <ion-list>

      @for (privateChat of privateChats(); track privateChat.roomId) {
        <ion-item button [routerLink]="['/tabs/friend-chat', privateChat.roomId]">
          <p-avatar
          label="G"
          size="large"
          styleClass="font-bold bg-[#5B6CBE] text-white"
          shape="circle" />
          <div class="flex justify-between ms-4 w-full gap-0.5 pb-3">
            <div class="flex flex-col justify-center mt-1">
              <ion-text class="font-medium">{{ privateChat.participantTwo.displayName }}</ion-text>
              
              @if (privateChat.messages.length) {
                <ion-text class="text-sm">{{ getLastMessage(privateChat).text | textTruncate: 20 }}</ion-text>
              } @else {
                <ion-text class="text-sm">Nenhuma mensagem</ion-text>
              }
            </div>

            <div *ngIf="privateChat.messages.length" class="flex flex-col gap-1">
              <span class="text-xs">{{ getLastMessage(privateChat).sentAt | date: 'hh:mm a'  }}</span>
              <p-badge [value]="privateChat.messages.length"/>
            </div>
          </div>
        </ion-item>
      }
    
    </ion-list>

  </ion-content>
</div>
