<ion-menu #menu contentId="menu-community-content" [menuId]="menuId">
  <ion-header class="ion-no-border" [translucent]="true">
    <ion-toolbar color="primary">
      <div slot="start" class="flex gap-2 items-center">
        <ion-back-button color="light" defaultHref="/tabs/community" (click)="closeMenu()"></ion-back-button>
        <ion-text color="light" class="text-2xl font-medium">Amigos</ion-text>
      </div>
    </ion-toolbar>
    <ion-toolbar color="primary">
      <div class="px-3 pb-3">
        <ion-searchbar [formControl]="searchByName2"  [animated]="true" placeholder="Pesquisar..."></ion-searchbar>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="h-full flex items-center justify-center text-center" *ngIf="!isFriendInfoLoading() && !cacheListFriendInfo().length">
      <ion-text class="text-lg opacity-70 font-semibold">Nenhum amigo por aqui ainda. Que tal fazer amizades?</ion-text>
    </div>
    <ion-list lines="none" class="friends" *ngIf="!isFriendInfoLoading() && cacheListFriendInfo().length">
    
        <ion-item button (click)="createPrivateChat(friend.friendId)" *ngFor="let friend of cacheListFriendInfo()">
          <p-avatar
          [image]="friend.photoUrl"
          [label]="friend.photoUrl! ? undefined : friend.friendName[0]"
          size="large"
          styleClass="font-bold bg-[#5B6CBE] text-white"
          shape="circle" />
          <div class="flex flex-col ms-4 w-full gap-0.5 pb-3">
            <div class="flex justify-between items-center">
              <ion-text class="font-medium mt-3">{{ friend.friendName }}</ion-text>
              @if (friend.status) {
                <p-tag severity="success"  value="Online" [rounded]="true" />
              } @else {
                <p-tag severity="warning"  value="Offline" [rounded]="true" /> 
              }
            </div>
            <ion-text class="text-sm opacity-80">Clique aqui para enviar uma mensagem</ion-text>
          </div>
        </ion-item> 
      

    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="menu-community-content">
  <ion-header class="ion-no-border" [translucent]="true">
    <ion-toolbar color="primary">
      <div slot="start" class="flex gap-2 items-center">
        <ion-menu-button color="light" [autoHide]="true" slot="start" menu="menu-community"></ion-menu-button>
        <ion-text color="light" class="text-2xl font-medium">Conversas</ion-text>
      </div>
    </ion-toolbar>
    <ion-toolbar color="primary">
      <div class="px-3 pb-3">
        <ion-searchbar [formControl]="searchByName"  [animated]="true" placeholder="Pesquisar..." ></ion-searchbar>
      </div>
    </ion-toolbar>
  </ion-header>

    <ion-fab vertical="bottom" horizontal="end" class="me-2 mb-2" (click)="showMenu()">
      <ion-fab-button>
        <ion-icon name="chatbubbles" color="light"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  <ion-content>

    <div *ngIf="isLoading()" class="h-full flex items-center justify-center">
      <ion-spinner class="w-20 h-20"></ion-spinner>
    </div>

    <ion-list *ngIf="!isLoading() && cacheListPrivateChat().length">

      @for (privateChat of cacheListPrivateChat(); track privateChat.roomId) {
        <ion-item button [routerLink]="['/tabs/friend-chat', privateChat.roomId]">
          <p-avatar
          [image]="privateChat.participantTwo.photoURL ?? undefined"
          label="{{ privateChat.participantTwo.photoURL ? undefined : privateChat.participantTwo.displayName!.charAt(0) }}"
          size="large"
          styleClass="font-bold bg-[#5B6CBE] text-white"
          shape="circle" />
          <div class="flex justify-between ms-4 w-full gap-0.5 pb-3">
            <div class="flex flex-col justify-center mt-1">
              <ion-text class="font-medium">{{ privateChat.participantTwo.displayName }}</ion-text>
              
              @if (privateChat.messages.length) {
                <ion-text class="text-sm">Ver todas mensagens</ion-text>
              } @else {
                <ion-text class="text-sm">Nenhuma mensagem</ion-text>
              }
            </div>

            <div *ngIf="privateChat.messages.length" class="flex flex-col gap-1">
              <span class="text-xs">{{ getLastMessage(privateChat).sentAt | date: 'hh:mm a'  }}</span>
            </div>
          </div>
        </ion-item>
      } 
    </ion-list>

    <div *ngIf="!isLoading() && !cacheListPrivateChat().length" class="h-full flex flex-col gap-2 items-center justify-center text-center p-4">
      <ion-text class="text-lg opacity-70 font-semibold">Nenhuma conversa por aqui ainda. Que tal fazer amizades?</ion-text>
    </div>

  </ion-content>
</div>