<ion-header class="ion-no-border" *ngIf="notepad">
  <ion-toolbar [ngStyle]="{ '--background': headerColor() }">
    <ion-item lines="none" [ngStyle]="{ '--background': headerColor() }">
      <ion-back-button color="light" defaultHref="/tabs/notes"></ion-back-button>
      <ion-title color="light">Nova Nota</ion-title>
      <ion-button [ngClass]="{ invisible: notepad() === null }" id="confirm-button" fill="clear" color="light">
        <i slot="icon-only"  class="fa-solid fa-trash text-xl"></i>
      </ion-button>
    </ion-item>
   <!-- Ícone de Alerta -->
  <div 
    slot="end" 
    (click)="op.toggle($event)" 
    matRipple 
    *ngIf="!notepad()"
    class="w-8 h-8 me-4 !scale-90 bg-white rounded-full flex items-center justify-center cursor-pointer hover:bg-gray-200 transition duration-300"
    aria-label="Informações sobre o título e descrição"
    >
    <i class="fa-solid fa-exclamation text-[var(--ion-color-primary)]"></i>
    </div>

    <!-- Tooltip (p-overlayPanel) -->
    <p-overlayPanel #op styleClass="w-[90vw]">
      <div class="p-4 bg-white  max-w-xs">
        <div class="flex items-center justify-between mb-2">
          <span class="font-semibold text-gray-800">Atenção!</span>
          <ion-icon name="close-circle-outline" (click)="op.hide()" class="text-gray-500 cursor-pointer"></ion-icon>
        </div>
        <p class="text-sm text-gray-600">
          Para salvar automaticamente a nota, você precisa preencher tanto o título quanto a descrição.
        </p>
      </div>
    </p-overlayPanel>

  </ion-toolbar>
  <div class="p-2">
    <swiper-container [slidesPerView]="7">
      @for(color of colorButtons; track color) {
        <swiper-slide>
          <div>
            <ion-button (click)="changeColor(color)" class="w-9 h-9" [ngStyle]="{ '--background': color }"></ion-button>
          </div>
        </swiper-slide>
      }
    </swiper-container>
  </div>
</ion-header>
<ion-content>
  <div *ngIf="notepad" class="h-full flex flex-col border space-y-2 border-red-600" [formGroup]="form">
    <div class="px-2">
      <ion-input formControlName="title" autofocus clearInput placeholder="Título" class="text-3xl font-medium opacity-80" autocapitalize="on"></ion-input>
    </div>
    <div class="flex-1">
      <p-editor formControlName="description" placeholder="Escreva..." styleClass="h-full"></p-editor>
    </div>
  </div>
  <div *ngIf="!notepad" class="h-full flex items-center justify-center">
    <ion-spinner color="primary" name="bubbles" class="w-20 h-20"></ion-spinner>
  </div>
</ion-content>

<p-toast preventOpenDuplicates="true" position="top-center" styleClass="w-[80vw]"/>

<ion-alert
  trigger="confirm-button"
  header="Alerta"
  message="Você realmente deseja excluir?"
  [buttons]="alertButtons"
></ion-alert>