ion-button {
  --border-radius: 50%;
  --background: #dad7d7;
  --box-shadow: none;

  ion-icon {
    display: none;
  }

  span {
    @apply font-bold opacity-50;
  }

  &:not(.checked) {
    --background-hover: transparent;
    --ripple-color: transparent;
  }

  &.checked {
    --background: var(--ion-color-primary);

    span {
      display: none;
    }

    ion-icon {
      display: block;
      color: white;
    }
  }
}


.checked-left {
  @apply rounded-l-2xl
}

.checked-right {
  @apply rounded-r-2xl;
  &.no-border {
    @apply rounded-none;
  }
}

.day-marked {
  background: #5dc9ffc1;
}